body,html{
    background-color: #fff !important;
}

/*---------------aboutation--------------*/
.aboutation{
    background:url('../img/aboutation.jpg') no-repeat center;
    background-size:cover;
    height:230px;
    width:100%;
    z-index:-3;
}
.aboutation::before{
    content:' ';
    position:absolute;
    left:0px;
    right:0px;
    height:230px;
    background:black;
    opacity:0.5;
}
.inner-aboutation{
    position:relative;
    color:#fff;
    padding:10px;
}
.inner-aboutation strong{
    font-size:65px;
    font-family: serif;
}
.inner-aboutation>p{
    margin-top:35px;
    background-color:#312b2b94;
    color:#fff;
    padding:5px 10px;
    border-radius:6px;
}
/**************************contact-section-css************************/

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform input[type="text"]:focus, 
.section2 .sec2contactform input[type="email"]:focus,
.section2 .sec2contactform textarea:focus{
	border:2px solid blue;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
    resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #191da7;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform input[type="submit"]:hover{
	background-color:#4a4c95;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}
.section2>div>iframe{
	width:100%;
	min-height:300px;
}

        /*-------------------contact-us-----------------*/

        @media only screen and (max-width: 1266px) {
            .section2 {
                width: 100%;
            }
        }
        @media only screen and (max-width: 960px) {
            /* .container {
                padding: 0 30px 70px;
            } */
            .section2 .col2 {
                width: 100%;
                display: block;
            }
            .section2 .col2.first {
                margin-bottom: 10px;
            }
            .section2 .col2.column2 {
                padding: 0;
            }
            body .sec2map {
                height: 250px !important;
            }
        }
        @media only screen and (max-width: 768px) {
            .section2 .sec2addr {
                font-size: 14px;
            }
            .section2 .sec2contactform h3 {
                font-size: 16px;
            }
            .section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
                padding: 10px;
                margin:3px 0;
            }
            .section2 .sec2contactform input[type="submit"] {
                padding: 10px 30px;
                font-size: 14px;
            }
        }
        @media only screen and (max-width: 420px) {
            .login a{
                display:block;
                margin-bottom:5px;
                padding:5px;
            }
            .close-menu{
                top: 104px;
                right: 10px;
            }
            .section1 h1 {
                font-size: 28px;
            }
        }
         /*---------------------contact-iframne-media-query-------------*/
         @media only screen and (min-width: 1113px){
            .section2>div>iframe{
                height:650px;
            }
         }