/*---------------aboutation--------------*/
.aboutation{
    background:url('../img/aboutation.jpg') no-repeat center;
    background-size:cover;
    height:230px;
    width:100%;
    z-index:-3;
}
.aboutation::before{
    content:' ';
    position:absolute;
    left:0px;
    right:0px;
    height:230px;
    background:black;
    opacity:0.5;
}
.inner-aboutation{
    position:relative;
    color:#fff;
    padding:10px;
}
.inner-aboutation strong{
    font-size:65px;
    font-family: serif;
}
.inner-aboutation>p{
    margin-top:35px;
    background-color:#312b2b94;
    color:#fff;
    padding:5px 10px;
    border-radius:6px;
}
/*************************aricle-section*****************/
.sec-1>div>h2{
	display:inline-block;
}
.sec-1>div>span{
	color:#a09797;
}
.inner-sec-1{
	font-size:19px;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0px 0px 10px 3px #d0d0d0;
}
.event-nav a{
	display:inline-block;
	color:#a09797;
    padding: 6px 15px;
}
.description{
	padding:20px;
}
#active{
	color:black;
	font-weight:bold;
	border-bottom:2px solid black;
}
.event-nav>a:hover{
	background-color:#d0d0d0;
}
.pre-event>h4{
	color:#d0d0d0;
    font-family: serif;
	border-bottom:1px solid #d0d0d0;
}
.pre-event>div>div>p{
	display:inline-block;
	font-size:32px;
}
.pre-event>div>div>span{
	font-size:17px;
	color:#d0d0d0;
}